# Google Safe Browsing API Key
# Obter em: https://console.cloud.google.com/apis/library/safebrowsing.googleapis.com
WXT_GSB_API_KEY=sua_chave_aqui

# VirusTotal API Key
# Obter em: https://www.virustotal.com/gui/sign-in
WXT_VIRUSTOTAL_API_KEY=sua_chave_aqui

# Django Backend API URL
WXT_API_URL=http://127.0.0.1:8000